{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="page_heading text-center">
                    PHOTO DETAIL 
                    {{ photo.name }}
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="image-container">
                        <a href="#" target="_blank">
                            <img class="card-img-top img-fluid" src="" alt="{{ photo.name }}">
                        </a>
                </div>
            </div>
            <div class="col">
                <p class="mb-0">{{ photo.name }}</p>
                <p class="mb-0">{{ photo.size }}</p>
                <p class="mb-0">{{ photo.location }}</p>
                <p class="mb-0">{{ photo.label }}</p>
                {% if photo.price != NULL %}
                    <p class="mb-0">{{ photo.price }}</p>
                    <button>Add to cart</button>
                {% endif %}
            </div>
            <div class="col">
                <form class="form" action="{% url 'add_to_cart' photo.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="hidden-input">
                            <input class="form-control qty_input" type="number" name="quantity" value="1" data-item_id="{{ photo.id }}" id="id_qty_{{ photo.id }}">
                        </div>

                        <div class="col-12">
                            <a href="{% url 'eshop' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}