{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Page heading row -->
        <div class="row">
            <div class="col">
                <h1 class="page_heading text-center">
                    PORTFOLIO
                </h1>
            <hr>
            </div>
        </div>
        <div class="row">
            {% include 'includes/sorting-n-searching.html' %}
        </div>
        <!-- Page main content row -->
        <div class="row">
            <div class="col photos-container">
                <div class="row">
                    {% for product in products %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img_card_preview" src="{{ MEDIA_URL }}{{product.image}}" alt="{{ product.name }}">
                                </a>
                                <a href="{% url 'product_detail' product.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text"><i class="fas fa-tag"></i>{{ product.category }}</p>
                                <p class="card-text"><i class="fas fa-location-dot"></i>{{ product.location }}</p>
                                {% if product.price != NULL %}
                                    {% if request.user.is_authenticated %} 
                                        <p class="card-text"><i class="fa-sharp fa-solid fa-tag"></i>{{ product.price }}</p>
                                        <a href="#" class="btn btn-primary">Add</a>
                                    {% else %}
                                        <a href="#" class="btn btn-primary">Shop</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'product_detail' photo.id %}" class="btn btn-primary">Show more</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}