{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="page_heading text-center">
                    PORTFOLIO
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {% include 'includes/sorting-n-searching.html' %}
        </div>
        <div class="row">
            <div class="photos-container">
                <div class="row"></div>
                <div class="row">
                    {% for photo in photos %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ photo.image_url }}" class="card-img-top" alt="{{ photo.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ photo.name }}</h5>
                                <p class="card-text">{{ photo.label }}</p>
                                <p class="card-text">{{ photo.location }}</p>
                                {% if photo.price != NULL %}
                                    <a href="#" class="btn btn-primary">Shop</a>
                                {% else %}
                                    <a href="{% url 'photo_detail' photo.id %}" class="btn btn-primary">Show more</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}