{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Page heading row -->
        <div class="row">
            <div class="col">
                <hr>
                <h1 class="page_heading text-center mt-2">
                    PORTFOLIO
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            {% include 'includes/sorting-n-searching.html' %}
        </div>
        <!-- Page main content row -->
        <div class="row">
            <div class="col-6 mx-auto photos-container">
                <div class="row">
                    {% for product in products %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body text-center">
                                <a href="{% url 'product_detail' product.id %}">
                                    {% if product.image %}
                                        <img class="img_card_preview" src="{{ MEDIA_URL }}{{product.image}}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="img_card_preview" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                                <a href="{% url 'product_detail' product.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
                                <p class="card-text"><i class="fas fa-tag"></i> {{ product.category }}</p>
                                {% if product.location != NULL %}
                                    <p class="card-text"><i class="fas fa-location-dot"></i> {{ product.location }}</p>
                                {% else %}
                                    <p class="card-text"><i class="fas fa-location-dot"></i> N/A</p>
                                {% endif %}
                                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-dark rounded-0">Show more</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}