{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}


{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- edit event page -->
{% block content %}
    <div class="container-fluid checkout_container">
        <div class="row">
            <div class="col page_heading text-center mt-2">
                <h2>Product Management</h2>
                <h5>Edit an Event</h5>
            </div>
        </div>
<!-- form for event editing -->
        <div class="row">
            <div class="col page_heading mx-auto">
                <form method="POST" action="{% url 'edit_event' event.id %}" enctype="multipart/form-data" class="mx-auto w-25 edit_add_form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-light mt-2 rounded-0" href="{% url 'portfolio'%}">Cancel</a>
                        <button class="btn btn-light mt-2 rounded-0" type="submit">Update Event</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}