{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1 class="page_heading text-center mt-2">
                    Events
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if events %}
                    {% for event in events %}
                        <div class="row justify-content-center">
                            <div class="col col-md-4">
                                <img class="event-img" src="{{ MEDIA_URL }}events.jpg" alt="">
                            </div>
                            <div class="col col-md-4 text-left">
                                <h3>{{ event.title }}</h3>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_event' event.id %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                        <a href="{% url 'delete_event' event.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
                                    {% endif %}
                                <h4>{{ event.day|date:'l dS M Y' }} at {{ event.starting_at|date:'H:i' }}</h4>
                                <p>{{ event.type }}</p>
                                <p>{{ event.difficulty }}</p>
                                <p><strong>Starting at: </strong>{{ event.starting_at }} | <strong>Ending at: </strong>{{ event.ending_at }}</p>
                                <p>{{ event.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="row">
                        <div class="col text-center">
                            <h2> No events available yet </h2>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col text-center info-col">
                <p>In order to join any of our events, please contact us via email!</p>
            </div>
        </div>
    </div>
{% endblock %}