{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-center mx-auto"><h1>Events</h1>
                {% for event in events %}
                  <div class="row">
                    <div class="col align-self-center">
                      <h2>{{ event.day|date:'l dS M Y' }} at {{ event.starting_at|date:'H:i' }}</h2>
                    </div>
                  </div>
              {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}