{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center"><h1>Events</h1>
                {% for event in events %}
                    {% if event.day|date:'M' == today|date:'M' %}
                        <!-- {% if event.day > today.day %}
                            <p> Coming up!! </p>
                        {% endif %} -->
                        <div class="row">
                            <div class="col">
                              <h2>{{ event.day|date:'l dS M Y' }} at {{ event.starting_at|date:'H:i' }}</h2>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col text-center"><h1>Upcoming Events</h1>
                {% for event in events %}
                    {% if event.day|date:'M' != today|date:'M' %}
                        <!-- {% if event.day|date:'Y' >= today|date:'Y' %} -->
                            <p>congratulations}</p>
                            <!-- <div class="row">
                                <div class="col">
                                <h2>{{ event.day|date:'l dS M Y' }} at {{ event.starting_at|date:'H:i' }}</h2>
                                </div>
                            </div> -->
                        <!-- {% endif %} -->
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}