{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col index-base">
                
            </div>
        </div>
        <div class="row">
            <div class="col about-col">
                <h2>About</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna orci. Fusce malesuada nunc lectus, sit amet bibendum diam consectetur ac. Suspendisse ex lectus, ultricies sit amet ante et, lacinia rutrum diam. Duis varius imperdiet scelerisque. Phasellus eget molestie risus, ac lobortis felis. Mauris pharetra ac libero id posuere. Aenean mollis vitae nisl at dictum. Mauris at imperdiet dolor. Phasellus elementum sapien at malesuada ornare. In eget eros at nunc aliquet fringilla at eu mi.

                    Nulla id varius leo, ac facilisis felis. Donec vel rhoncus urna. Integer at porttitor augue, vel venenatis erat. Nunc sit amet tempus ligula, vitae venenatis elit. Aenean ullamcorper vel tellus dapibus vulputate. Aliquam congue est risus, a vestibulum mauris consequat eget. Integer elit massa, porttitor et nisl quis, tincidunt rhoncus elit. Quisque tempus hendrerit gravida. Aliquam fringilla libero urna, a sollicitudin ipsum hendrerit non. Integer consectetur odio vel mi auctor, id commodo elit porttitor. Duis convallis, augue vulputate aliquet luctus, risus erat aliquet elit, non rutrum arcu elit ac risus.</p>
            </div>
        </div>
    </div>
{% endblock %}