{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
<!-- Home page -->
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col index-base">            
            </div>
        </div>
        <!-- About information -->
        <div class="row">
            <div class="col py-5 about-col text-center" id="about">
                <h2>About Kaleidoscope Photography</h2>
                <p> Photography was the only thing I wanted to do, the power of the image is something that can not be measured. With photography we capture all our moments and feelings. In my portfolio you can have a look around my photos and materials created for everyone intrested in.
                    I am a professional photographer with great interest in <em>Urban</em>, <em>Landscape</em>, <em>Aeria</em> and <em>Food</em> photography. Capturing every single moment and sharing experience and techinques by providing great content tutorials and super long and educative tours and events always with a focus on sharing phtogaphy knowldge!
                </p>
            </div>
        </div>
        <!-- contact colum -->
        <div class="row">
            <div class="col-6 mx-auto py-5 contact-col text-left" id="contact">
                <div class="d-flex flex-row justify-content-center">
                    <h2>Contact</h2>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div class="contact_details">
                        <p><i class="fa-solid fa-envelope"></i> info@kaleidoscope.com</p>
                        <p><i class="fa-solid fa-location-dot"></i> Dalagata 23, Stocknholm, Sweden</p>
                        <p><i class="fa-solid fa-phone"></i> +46 123 456 789</p>
                    </div>
                    <div class="social_details">
                        <div class="p-2">
                            <a href="https://www.facebook.com/Kaleidoscope-Photography-109873888552357"><i class="fa-brands fa-facebook"></i>  Facebook</a>
                        </div>
                        <div class="p-2">
                            <a href=""><i class="fa-brands fa-instagram"></i>  Instagram</a>
                        </div>
                        <div class="p-2">
                            <a href=""><i class="fa-brands fa-github"></i>  GitHub</a>
                        </div>    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
<!-- Newsletter signup -->
    <footer>
        <div class="container-fluid">
          <div class="row">
            <div class="col-6 align-self-center py-5 mx-auto">
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://herokuapp.us18.list-manage.com/subscribe/post?u=1f3b33b3c583bcaf05fe68203&amp;id=0ab11e58db&amp;f_id=00cd1de7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        <h2>Subscribe</h2>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
                            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                        </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1f3b33b3c583bcaf05fe68203_0ab11e58db" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                        <p class="brandingLogo"><a href="http://eepurl.com/h_X7rz" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg" alt="mailchimp logo"></a></p>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
                <!--End mc_embed_signup--> 
            </div>
          </div>
        </div>
    </footer>
{% endblock %}


{% block postloadjs %}
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{% endblock %}