{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid checkout_container">
        <div class="row">
            <div class="col">
                <h1>Thank you</h1>
                <p>Your order information is below. A confirmation email will be sent {{ order.email }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}
