@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    height: 100%;
}

body{
    /* background-color: #2b2b29; */
    background-color: white;
}

.main-logo-link {
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    padding-top: 5px;
}

.main-logo-link:hover {
    color: white;
}

.header-container {
    padding-top: 58px;
    background-color: #f8f9fa;
}

.message-container{
   position: fixed;
   top: 72px;
   right: 15px;
   z-index: 9999999999;
}

footer {
  color: #2b2b29;
  background-color: #f8f9fa;
}

footer .container-fluid{
  text-align: center;
  /* position: fixed;
  left: 0;
  bottom: 0; */
}

/* Styles for index */
.index-base{
    background: url('/media/main2.jpg') no-repeat center;
    width: 50%;
    height: 1020px;
}

.about-col {
   background-color:#f8f9fa;
   color: black;
   padding: 0 25%;
}

.contact-col {
    color:#f8f9fa;
    background-color: #2b2b29;
    width: 100%;
    padding: 0 20%;
 }

 #contact a{
    text-decoration: none;
    color: #f8f9fa;
 }

 .ic{
    margin-right: 15px;
 }

 /* Styles for portfolio */
 .page_heading {
    color:#2b2b29;
 }

 .page_heading_dark{
  color: #2b2b29;
 }

 hr {
    border: 1px solid #2b2b29;
 }

 .sorting_bar a{
   color: #2b2b29;
   text-decoration: none;
 }

 .sorting_bar a:hover {
    text-decoration: underline;
  }

 .sort_item {
    padding-right: 15px;
    border-right: 1px solid #2b2b29;
 }

 .photos-container .row{
   justify-content: space-around;
 }

 .card{
  margin: 15px;
  /* background-color: #f8f9fa; */
  background-color: white;
  /* border: 1px solid #2b2b29; */
  border: none !important;
  border-radius: 0%;
 }

 .img_card_preview {
   width: 100%;
   height: 250px;
   padding-bottom: 2%;
 }

 .card-text{
  color: #2b2b29;
 }

 .card-text, a{
  text-decoration: none;
  color: #2b2b29;
 }



 /* Styles for shopping cart template */
 .cart {
    background-color: white;
 }

 .bag-container{
   padding-top: 250px;
   color: #f8f9fa;
 }

 .text_color{
   color: #2b2b29 !important;
 }

 .tr_border{
   border-bottom: 1px solid #2b2b29;
 }

 .txt_right{
   text-align: right !important;
 }

 .update_qnt_form{
   width: 60px;
 }

 .status_btn :hover{
   cursor: pointer;
 }

 .img_thumbnail{
  width: 50px;
  height: 50px;
 }

/* Styles for checkout template */
#payment-form{
  border-right: 1px solid #2b2b29;
  margin-right: -50%;
}

.checkout_container{
  background-color: white !important;
}

#card-element{
  border: 1px solid #2b2b29;
  padding: 10px;
}