@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html{
    height: 100%;
}

body{
    background-color: #2b2b29;
}

.main-logo-link {
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    padding-top: 5px;
}

.main-logo-link:hover {
    color: white;
}

.header-container {
    padding-top: 58px;
    background-color: #f8f9fa;
}

.message-container{
   position: fixed;
   top: 72px;
   right: 15px;
   z-index: 9999999999;
}

footer {
  color: white;
}

footer .container-fluid{
  text-align: center;
}

/* Styles for index */
.index-base{
    background: url('/media/main2.jpg') no-repeat center;
    width: 50%;
    height: 1020px;
}

.about-col {
   background-color:#f8f9fa;
   color: black;
   padding: 0 25%;
}

.contact-col {
    color:#f8f9fa;
 }

 #contact a{
    text-decoration: none;
    color: #f8f9fa;
 }

 .ic{
    margin-right: 15px;
 }

 /* Styles for portfolio */
 .page_heading {
    color:#f8f9fa;
 }

 hr {
    border: 2px solid #f8f9fa;
 }

 .sorting_bar a{
   color: #f8f9fa;
   text-decoration: none;
 }

 .sorting_bar a:hover {
    text-decoration: underline;
  }

 .sort_item {
    padding-right: 15px;
    border-right: 1px solid #f8f9fa;
 }

 .photos-container .row{
   justify-content: space-around;
 }

 .img_card_preview {
   width: 100%;
   height: 50%;
 }

 /* Styles for shopping cart template */
 .bag {
    background-color: #f8f9fa;
 }

 .bag-container{
   padding-top: 250px;
   color: #f8f9fa;
 }

 .text_color{
   color: #f8f9fa !important;
 }

 .tr_border{
   border-bottom: 1px solid #f8f9fa;
 }

 .txt_right{
   text-align: right !important;
 }

 .update_qnt_form{
   width: 60px;
 }

 .status_btn :hover{
   cursor: pointer;
 }