<div class="col">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}">All</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}?label=Urban">Urban</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}?label=Landscape">Landscape</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}?label=Aerial">Aerial</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}?label=Food">Food</a>
        </li>
    </ul>
</div>