<div class="col sorting_bar text-center">
    <ul class="list-inline">
        <li class="list-inline-item sort_item">
            <a href="{% url 'portfolio' %}?category=Urban,Landscape,Aerial,Food">All</a>
        </li>
        <li class="list-inline-item sort_item">
            <a href="{% url 'portfolio' %}?category=Urban">Urban</a>
        </li>
        <li class="list-inline-item sort_item">
            <a href="{% url 'portfolio' %}?category=Landscape">Landscape</a>
        </li>
        <li class="list-inline-item sort_item">
            <a href="{% url 'portfolio' %}?category=Aerial">Aerial</a>
        </li>
        <li class="list-inline-item">
            <a href="{% url 'portfolio' %}?category=Food">Food</a>
        </li>
    </ul>
</div>