{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center"><h1>Tutorials</h1>
                <p>Congrats</p>
            </div>
        </div>
    </div>
{% endblock %}


<!-- Edit and delete functionality -->
<!-- {% if request.user.is_superuser %}
    <a href="{% url 'edit_tutorial' tutorial.id %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
    <a href="{% url 'delete_tutorial' tutorial.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
{% endif %} -->