{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Page heading row -->
    <div class="row">
        <div class="col">
            <h1 class="page_heading text-center mt-2">
                Tutorials
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    {% if tutorials %}
                        {% for tutorial in tutorials %}
                        <div class="row justify-content-center mx-auto">
                            <div class="col col-md-4 ">
                                <video width="320" height="240" controls>
                                    <source src="{{ MEDIA_URL }}{{tutorial.file}}" type="video/mp4">
                                </video>
                            </div>
                            <div class="col col-md-4">
                                <h3>{{ tutorial.name }}</h3>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_tutorial' tutorial.id %}"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>
                                        <a href="{% url 'delete_tutorial' tutorial.id %}"><i class="fa-sharp fa-solid fa-trash"></i></a>
                                    {% endif %}
                                <h4><i class="fas fa-tag"></i> {{ tutorial.category }}</h4>
                                <p><i class="fa-sharp fa-solid fa-font-awesome"></i> {{ tutorial.type }}</p>
                                <p><i class="fa-solid fa-stairs"></i> {{ tutorial.difficulty }}</p>
                                <p><i class="fa-sharp fa-solid fa-tag"></i> {{ tutorial.price }}</p>
                                <p>{{ tutorial.description }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                            <div class="row">
                                <div class="col text-center">
                                    <h2> No tutorials available yet </h2>
                                </div>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center info-col">
            <p>In order to enroll to any of our tutorials, please contact us via email!</p>
        </div>
    </div>
</div>
{% endblock %}