{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row allauth-container text-center p-5">
            <div class="col">
                <h2>Ooops....You are probably lost</h2>
                <a href="{% url 'portfolio' %}" class="btn btn-outline-black rounded-0 mt-5">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Home</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}